@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-poppins: 'Poppins', sans-serif;
  --font-anton: 'Anton', , sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

.fp-watermark{
  display: none !important;
}
/* .swiper-slide {
  display: flex !important;
} */
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
}
